apiVersion: v1
kind: Config
clusters:
- name: cluster
  cluster:
    server: ${SERVER_URL}
users:
- name: user
  user:
    token: ${TOKEN}
contexts:
- name: context
  context:
    cluster: cluster
    user: user
current-context: context
